* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  padding: 2rem 0rem;
}

footer {
  /* DEBUG */
  padding: 4rem 0rem;
}

a {
  text-decoration: none;
  padding: 4px 10px;
}

h5 {
  font-size: 1rem;
}

#get-started {
  margin-left: 10px;
}

#app-store {
  letter-spacing: 3px;
  padding-left: 5px;
}

#phone {
  height: 210px;
  
}

:root {
  --color-primary: #9792e4;
  --color-secondary: #0084fd;
  --color-secondary-light: #b5ddff;
  --color-footer: black;
}

.debug {
  border: 1px dashed red;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* DEBUG */
  border: 1px dashed red;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-nav {
  padding: 0rem 1rem;
}

.container-p-medium {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-p-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.navbar {
  padding: 0.6rem 1rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex-basis: calc((100% - 2rem) / 3);
}

.col-2 {
  flex-basis: calc((((100% - 1rem) / 3) * 2) + 4px);
}

.col-3 {
  flex-basis: 100%;
}

.card {
  border-radius: 1rem;
  min-height: 250px;
  padding: 1.5rem 1.1rem 0rem;
}

.box {
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.logo {
  height: 2rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.bg-footer {
  background-color: var(--color-footer);
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 1.5rem;
}

.gap3 {
  gap: 2rem;
}

.mb2 {
  margin-bottom: 1.3rem;
}

.relative {
  position: relative;
}

.font-sm {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-blue {
  color: var(--color-secondary);
}

.text-grey {
  color: #5e7181;
}

.text-violet {
  color: var(--color-primary);
}

.bg-white {
  background-color: white;
}

.bg-lightblue {
  background-color: var(--color-secondary-light);
}

.button {
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 30px;
}

.pointer {
  cursor: pointer;
}

.card-icon {
  font-size: 4rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media screen and (max-width: 980px) {
  .container {
    width: 748px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 460px;
  }

  .container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-half {
    flex-basis: 50%;
  }

  .col-md-full {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-full {
    flex-basis: 100%;
  }
}
