* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* DEBUG */
  padding: 2rem 0rem;
}

footer {
  /* DEBUG */
  padding: 4rem 0rem;
}

:root {
  --color-primary: #9792e4;
  --color-secondary: #0084fd;
  --color-secondary-light: #b5ddff;
  --color-footer: black;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* DEBUG */
  border: 1px dashed red;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-p-medium {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-p-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex-basis: calc((100% - 2rem) / 3);
}

.col-2 {
  flex-basis: calc(((100% - 1rem) / 3) * 2);
}

.col-3 {
  flex-basis: 100%;
}

.card {
  /* DEBUG */
  border: 1px solid red;
  border-radius: 1rem;
  min-height: 100px;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.bg-footer {
  background-color: var(--color-footer);
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

@media screen and (max-width: 980px) {
  .container {
    width: 748px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 460px;
  }

  .container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-half {
    flex-basis: 50%;
  }

  .col-md-full {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-full {
    flex-basis: 100%;
  }
}
